.signup__Page {
  max-width: 300px;
  padding: 70px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.85);
}

.signup__Page > form {
  display: grid;
  flex-direction: column;
}
.signup__Page > form > input {
  outline-width: 0;
  height: 40px;
  margin-bottom: 14px;
  border-radius: 5px;
  border: none;
  padding: 5px 15px;
}
.signup__Page > form > button {
  padding: 16px 20px;
  font-size: 1rem;
  color: white;
  border-radius: 5px;
  background-color: red;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}
.signup__Page > form > h1 {
  text-align: left;
  margin-bottom: 25px;
}
.error__text {
  color: orange;
  margin-bottom: 10px;
  margin-top: auto;
}
.signup__Page > form > button:disabled,
button:disabled:hover,
button:disabled:active {
  background-color: #ccc;
  color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
}
